# Copyright (c) 2017, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

[ndbd default]
NoOfReplicas=1
DataMemory=20480M
DiskIOThreadPool=128
DiskSyncSize=268435456
MaxDiskWriteSpeed=2147483648
NoOfFragmentLogFiles=300
ODirect=1

# https://dev.mysql.com/doc/refman/8.0/en/mysql-cluster-ndbd-definition.html#ndbparam-ndbmtd-maxnoofexecutionthreads
# number of threads by thread type:
#   ldm:32	tc:16	send:7	recv:7
#MaxNoOfExecutionThreads=64

# https://dev.mysql.com/doc/refman/8.0/en/mysql-cluster-ndbd-definition.html#ndbparam-ndbmtd-threadconfig
ThreadConfig=main={nosend=1},rep={nosend=1},ldm={count=32,nosend=1},tc={count=16,nosend=1},recv={count=7},send={count=7}

NoOfFragmentLogParts=32
MaxNoOfConcurrentScans=500


[ndb_mgmd]
NodeId=1
hostname=192.168.0.2
datadir=/var/lib/mysql

[ndbd]
NodeId=2
hostname=192.168.0.3
datadir=/var/lib/mysql

[mysqld]
NodeId=3
hostname=192.168.0.10

# An additional mysqld connection can be useful for running NDB cluster
# programs (e.g., ndb_desc).
[mysqld]
NodeId=4
hostname=192.168.0.11
